<!DOCTYPE html>
<html>
<head>
	<title>Verkefni 1, dæmi 1</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="heimaverkefni1.css">
</head>
<body>
	
	<div id="app">
		<input type="text" id="texti" v-model="texti">
		<br>
		<a id="googleLink" href="notrequired" onclick="this.href='http://www.google.com/search?q=' + encodeURIComponent(document.getElementById('texti').value);">
    		<span id="lol" v-if="texti != ''">Smelltu til að leita</span>
    		<span v-else>Smelltu til að leita</span>
    	</a>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript">

		var minntexti = document.getElementById("texti").value
		var app = new Vue ({
			el: '#app',
		
			data: {
				texti: "",
			}
		});
	
	</script>

</body>
</html>